
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");



.navbar-brand{
    font-size: 30px;
    color: brown !important;
}
section{
    padding: 80px 0px;
}

.logo-inscription{
    font-size: 28px;
    text-align: center;
}
.info{
   margin-top: 20px; 
}
.info-text{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.nav-line{
    background-color:#993400;
}
.nav-text{
    font-size: 1.5rem;
    color: white;
}
.nav-text:hover{
    color: #161616;
}

.carousel-control-prev-icon{
    background-image: url(img/left.png);
}
.carousel-control-next-icon{
    background-image: url( img/rigth.png);
}

.carousel-control-prev,.carousel-control-next{
    width: 20px;
}
.carousel-control-prev{
    left: -35px;
}
.carousel-control-next{
    right: -35px;
}
.hit-content{
    display: flex;
    justify-content: center;

}
.inner-container{      
        height: 35vh;
    background-image: linear-gradient( to top, rgba(245, 226, 150, 0.8), rgba(245, 226, 150, 0.98) ), url(img/wallpapper.jpg);
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #f5e296;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
}
.but{
    width:180px;
    height: 40px;
    color:#864c5d ;
    background-color:#efb9c8 ;
    text-transform: uppercase;
    border: 1px solid rgb(243, 94, 119);
    box-shadow: inset 0 0 0 0 #864c5d;
    transition: ease-out 0.3s;
}
.but:hover{
    box-shadow: inset 180px 0 0 0 #864c5d;
    color: #fff;
}
.text{
    color: #864c5d;
    font-weight: bold;
}
.subtext{
    color: #864c5d;
    font-size: 20px;
    font-weight: bold;
}

.lead_text{
    color: #864c5d;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #410215;
}


.info-icon{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}




/* @media all and (max-width:520px){
.btn{
margin-top: 50px;
margin-left: 80px;
}

} */